/* TODO: design your profile with CSS */

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}


h1 {
  color: rgb(37, 1, 37);
}

h2 {
  color: #7ECE90;
}



img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div {
  background-color: white;
  width: 700px;
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  display: inline-block;
}

.btn-green {
  background-color: green;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
}


.btn-green:hover {
  background-color: rgb(1, 82, 1);
}

.social-icon {
  font-size: 32px;
  color: black;
  margin-right: 16px;
}

.social-icon:hover {
  color: rgb(87, 87, 87);
}